body
    background-color: #E6F0F2
    box-sizing: border-box
    margin: 0

ul 
    list-style: none
    padding-inline-start: 0

@import ./components/header
@import ./components/landing
@import ./components/register
@import ./components/login
@import ./components/search
@import ./components/feedback
@import ./components/duck
@import ./components/footer

.hide
    display: none