body {
  background-color: #E6F0F2;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: inherit;
  color: #666666;
}

h2 {
  margin: 0.5em;
}

h3 {
  margin: 0.5em;
}

.logo-bloc {
  display: block;
  text-align: center;
}

.footer__copyright {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}

.feedback {
  display: flex;
  background-color: #d77;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  align-items: center;
  text-align: center;
  margin-top: 1em;
}
.feedback__message {
  width: 50%;
}
.feedback__icon {
  width: 25%;
}

.landing__options {
  text-align: center;
  font-size: 1.2em;
  margin: 0;
  padding: 0.6em;
}

.register {
  padding: 0.6em;
}
.register__form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.register__title {
  margin: 0;
}
.register__field {
  margin: 0.5em;
}
.register__back {
  margin: 1em;
}

.login {
  padding: 0.6em;
}
.login__form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.login__title {
  margin: 0;
}
.login__field {
  margin: 0.5em;
}
.login__back {
  margin: 1em;
}

.search__title {
  text-align: center;
}
.search__user {
  text-align: center;
  margin: 0;
}
.search__favlist-form {
  text-align: center;
  margin: 1em;
}
.search__logout-form {
  text-align: center;
  margin: 1em;
}
.search__logout-button {
  margin: 0 0.5em;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form__part {
  display: flex;
  align-items: center;
}
.form__part-button {
  margin: 0 0.5em;
}

.results__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.results__list-item {
  width: 100%;
}

.detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.duck {
  background-color: #c3dadf;
  border: 0.15em solid #488a97;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  text-align: center;
  cursor: pointer;
}
.duck__title {
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1em;
  min-height: 3em;
}
.duck__description {
  margin: 0 5%;
}
.duck__image {
  width: 90%;
  margin: 5% 5%;
}
.duck__paragraph {
  margin: 2em;
}
.duck__price {
  background: pink;
  border: 0.2em solid red;
  text-align: center;
  padding: 5%;
  width: 33%;
  font-size: 1.3em;
  font-weight: bold;
}
.duck__fav {
  font-size: 2em;
  margin: 0;
}
.duck__fav button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  margin: 0 0 0.5em;
}

@media screen and (min-width: 420px) {
  .results__list-item {
    width: 50%;
  }

  .detail {
    width: 80%;
    padding: 10%;
  }
}
@media screen and (min-width: 1000px) {
  .results__list {
    width: 78vw;
    margin: 2em 11vw;
  }
  .results__list-item {
    width: 25%;
  }

  .detail {
    width: 70vw;
    padding: 2em 15vw;
  }

  .duck__image {
    width: 80%;
    margin: 2em 10%;
  }
}
.favs__title {
  text-align: center;
}
.favs__goback-link {
  display: block;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
