body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab";
}

h1 {
  font-size: 2em;
}

.landing,
.register,
.login {
  border: 1px solid black;
}

.hide {
  display: none;
}

.landing {
  text-align: center;
  height: 100vh;
  background: url("./images/background_mobile.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing__container {
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  border-radius: 1em;
}
.landing__title {
  color: #222222;
}
.landing__logo {
  max-width: 40%;
}
.landing__register-form {
  margin: 1em;
}
.landing__register-button {
  border: 0.18em solid #222222;
  padding: 0.8em;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}
.landing__login-form {
  margin: 1em 1em 2em 1em;
}
.landing__login-button {
  border: 0.18em solid #222222;
  padding: 0.8em;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}

.register {
  text-align: center;
  height: 100vh;
  background: url("./images/background_mobile_2.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__container {
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  border-radius: 1em;
}
.register__logo {
  margin: 2em auto 0;
  max-width: 20%;
}
.register__form {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.register__form-input {
  width: 80%;
  padding: 0.5em;
  margin: 0.5em;
}
.register__form-input--separator {
  margin-top: 1.5em;
}
.register__form-submit-button {
  margin: 0.5em;
  border: 0.18em solid #222222;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}
.register__form-cancel-button {
  margin: 0.5em;
  border: 0.18em solid #222222;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}

.login {
  text-align: center;
  height: 100vh;
  background: url("./images/background_mobile.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  border-radius: 1em;
}
.login__logo {
  margin: 2em auto 0;
  max-width: 20%;
}
.login__form {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.login__form-input {
  width: 80%;
  padding: 0.5em;
  margin: 0.5em;
}
.login__form-input--separator {
  margin-top: 2em;
}
.login__form-submit-button {
  margin: 0.5em;
  border: 0.18em solid #222222;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}
.login__form-cancel-button {
  margin: 0.5em;
  border: 0.18em solid #222222;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}

/*# sourceMappingURL=index.css.map */
