body
    box-sizing: border-box
    margin: 0
    font-family: 'Roboto'
    
h1,h2,h3,h4,h5,h6 
  font-family: 'Roboto Slab'

h1
    font-size: 2em

@import ./components/landing
@import ./components/register
@import ./components/login
@import ./components/player

.hide
    display: none

.landing,
.register,
.login,
.player
    border: 1px solid black