body
    box-sizing: border-box
    margin: 0
    font-family: 'Roboto'
    
h1,h2,h3,h4,h5,h6 
  font-family: 'Roboto Slab'

h1
    font-size: 2em

.landing,
.register,
.login
    border: 1px solid black
.hide
    display: none

@import ./components/landing
@import ./components/register
@import ./components/login