body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab";
}

h1 {
  font-size: 2em;
}

.landing {
  text-align: center;
  height: 100vh;
  background: url("./images/background_mobile.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing__container {
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  border-radius: 1em;
}
.landing__title {
  color: #222222;
}
.landing__logo {
  max-width: 40%;
}
.landing__register-form {
  margin: 1em;
}
.landing__register-button {
  border: 0.18em solid #222222;
  padding: 0.8em;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}
.landing__login-form {
  margin: 1em 1em 2em 1em;
}
.landing__login-button {
  border: 0.18em solid #222222;
  padding: 0.8em;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}

.register {
  text-align: center;
  height: 100vh;
  background: url("./images/background_mobile_2.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__container {
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  border-radius: 1em;
}
.register__logo {
  margin: 2em auto 0;
  max-width: 20%;
}
.register__form {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.register__form-input {
  width: 80%;
  padding: 0.5em;
  margin: 0.5em;
}
.register__form-input--separator {
  margin-top: 1.5em;
}
.register__form-submit-button {
  margin: 0.5em;
  border: 0.18em solid #222222;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}
.register__form-cancel-button {
  margin: 0.5em;
  border: 0.18em solid #222222;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}

.login {
  text-align: center;
  height: 100vh;
  background: url("./images/background_mobile.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  border-radius: 1em;
}
.login__logo {
  margin: 2em auto 0;
  max-width: 20%;
}
.login__form {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.login__form-input {
  width: 80%;
  padding: 0.5em;
  margin: 0.5em;
}
.login__form-input--separator {
  margin-top: 2em;
}
.login__form-submit-button {
  margin: 0.5em;
  border: 0.18em solid #222222;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}
.login__form-cancel-button {
  margin: 0.5em;
  border: 0.18em solid #222222;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}

.player {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #dddddd;
}
.player__container {
  width: 80%;
  margin-top: 10%;
}
.player__top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.player__top-share-icon {
  padding: 0.5em;
  color: #365c80;
}
.player__top-image {
  max-width: 50%;
  border-radius: 0.4em;
}
.player__top-fav-icon {
  padding: 0.5em;
  color: #365c80;
}
.player__title {
  margin: 0.5em;
  color: #222222;
}
.player__creator {
  margin: 0.5em;
  color: #365c80;
}
.player__date {
  margin: 0.5em;
}
.player__description {
  text-align: justify;
}
.player__slider-block {
  margin: 1em 0;
}
.player__slider-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.player__slider-bar:hover {
  opacity: 1;
}
.player__slider-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1C5D99;
  cursor: pointer;
}
.player__slider-bar::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1C5D99;
  cursor: pointer;
}
.player__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player__controls-rew {
  padding: 0.5em;
  color: #639fab;
}
.player__controls-play {
  color: #1C5D99;
}
.player__controls-ff {
  color: #639fab;
  padding: 0.5em;
}

.footer {
  background-color: #365c80;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__option {
  width: 20%;
}

.channels {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #dddddd;
}
.channels__container {
  width: 80%;
  margin-top: 10%;
}
.channels__form {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.channels__form-input {
  width: 80%;
  padding: 0.5em;
  margin: 0.5em;
}
.channels__form-input--separator {
  margin-top: 2em;
}
.channels__form-submit-button {
  margin: 0.5em;
  border: 0.18em solid #222222;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}
.channels__list {
  height: 50vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.channel {
  padding: 1em;
  margin: 0.3em;
  border: 0.1em solid #8a8a8a;
  border-radius: 0.2em;
}

.footer {
  background-color: #365c80;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__option {
  width: 20%;
}

.rss {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #dddddd;
}
.rss__container {
  width: 80%;
  margin-top: 10%;
}
.rss__form {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.rss__form-input {
  width: 80%;
  padding: 0.5em;
  margin: 0.5em;
}
.rss__form-input--separator {
  margin-top: 2em;
}
.rss__form-submit-button {
  margin: 0.5em;
  border: 0.18em solid #222222;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 50%;
  border-radius: 0.5em;
  background-color: inherit;
}
.rss__list {
  height: 50vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.episode {
  padding: 0.5em;
  margin: 0.3em;
  border: 0.1em solid #8a8a8a;
  border-radius: 0.2em;
  display: flex;
}
.episode__left-block {
  width: 75%;
}
.episode__right-block {
  width: 25%;
  text-align: center;
}
.episode__button-block {
  display: block;
  height: 100%;
  line-height: 2;
  color: #365c80;
}
.episode__button-block--delete {
  color: #ad4545;
}
.episode__title {
  padding: 0;
  margin: 0;
}
.episode__date {
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #365c80;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__option {
  width: 20%;
}

.hide {
  display: none;
}

.landing,
.register,
.login,
.player,
.channels,
.rss {
  border: 1px solid black;
}

/*# sourceMappingURL=index.css.map */
