.character-detail
    width: 94%
    margin: 3%

    &__image
        width: 80%
        margin: 2em

    &__fav
        font-size: 2em
        cursor: pointer

    &__status-title,
    &__ocupation-title,
    &__portayed-title
        margin-top: 1em