extends ../view/index

include ../feedback/index

block body
    section.view.landing
        p.landing__options
            | Please, proceed to 
            a(href="register") Register
            |  or 
            a(href="login") Login
            | .