.banner
    width: 100%
    height: 600px
    background-image: url('https://assets.hardwarezone.com/img/2017/05/IMG_0380_0.jpg')


    &__text
        position: relative
        top: 150px
        font-size: 50px