.home
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 94%
    margin: 3%


    &__button
        width: 40%
        margin: 1em .5em
        padding: 1em

@media only screen and (min-width: 1000px) 
    .home

        &__button
            width: 30%
            margin: 1em
            padding: 1.5em